body
{
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}


.letter
{
	position: relative;
	float: left;
	background: #000;
	color: #fff;
	text-align: center;
	height: auto;
	font-family: Helvetica;
	font-weight: bold;
	width: 2%;
	height: 5%;
	height: auto;
}

.big-letter
{
	width:20%;
	height: 22%;
}